<li class="link">
	<a class="title" href="<%= link.url %>"><%= link.title %></a>
	<acticle class="description">
		<%= link.description%>
	</article>
	<aside class='source'>
		added <time datetime="<%=link.created_at.strftime("%d/%m/%Y %H:%M")%>"><%=link.created_at.strftime("%d/%m/%Y %H:%M")%> </time> by <a href="#"><%=link.user.username%> </a>
	</aside>
</li>